@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
/* Reset */
*, *:focus, *:hover {
  outline: none;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
body, html {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

button:hover {
  border: none;
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ebebeb;
}
#main-content header {
  color: #fff;
  height: 7vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #333;
}
#main-content header h1 {
  margin-left: 70px;
}
#main-content #carousel-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
#main-content #carousel-container button {
  color: #3483fa;
  cursor: pointer;
  position: absolute;
  padding: 5px;
}
#main-content #carousel-container button:hover {
  color: #1270fb;
}
#main-content #carousel-container #carousel-prev-button {
  left: 0;
}
#main-content #carousel-container #carousel-next-button {
  right: 0;
}
#main-content #carousel-container #carousel {
  width: 100%;
}
#main-content #carousel-container #carousel .background[isvisible=false] {
  display: flex;
  max-width: 100%;
  justify-content: center;
  position: absolute;
  z-index: -1;
}
#main-content #carousel-container #carousel .background[isvisible=true] {
  display: flex;
  justify-content: center;
  transition: 2s;
}
#main-content #carousel-container #carousel .background[isvisible=true] .content {
  color: #e2e1e1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  z-index: 1;
}
#main-content #carousel-container #carousel .background[isvisible=true] .content h3 {
  margin-bottom: 21px;
}
#main-content #carousel-container .dots {
  position: absolute;
  color: #adadad;
  display: flex;
  flex-direction: row;
  top: 70vh;
}
#main-content #carousel-container .dots .dot {
  color: #939393;
  cursor: pointer;
  margin: 3px;
}
#main-content #carousel-container[backgroundid="0"] {
  background: url("../images/background-a.jpg") no-repeat center center/cover;
  transition: 2s;
}
#main-content #carousel-container[backgroundid="1"] {
  background: url("../images/background-b.jpg") no-repeat center center/cover;
  transition: 2s;
}
#main-content #carousel-container[backgroundid="2"] {
  background: url("../images/background-c.jpg") no-repeat center center/cover;
  transition: 2s;
}
#main-content #carousel-container::before {
  height: 70vh;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
#main-content #items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 23vh;
}
#main-content #items-container #items {
  -webkit-box-shadow: 0px 0px 7px -3.5px #000000;
  box-shadow: 0px 0px 7px -3.5px #000000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  border-radius: 7px;
}
#main-content #items-container #items .item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  margin-right: 7px;
}
#main-content #items-container #items .item i {
  color: #3483fa;
  margin-right: 14px;
}
#main-content #items-container #items .item div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#main-content #items-container #items .item div h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 21px;
}
#main-content #items-container #items .item div span {
  font-size: 14px;
  color: #3483fa;
}
#main-content #items-container #items .item:not(:last-child) {
  margin-right: 7px;
}
#main-content #description-container {
  display: flex;
  width: 100%;
  height: 77vh;
}
#main-content #description-container img {
  width: 50%;
}
#main-content #description-container #description {
  color: #fff;
  background-color: #333;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 56px 0px 56px;
}
#main-content #description-container #description h3 {
  margin-bottom: 28px;
}
#main-content #description-container #description h3 span {
  color: #3483fa;
}
#main-content footer {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #939393;
  text-align: center;
}

@media screen and (max-width: 800px) {
  #main-content header {
    justify-content: center;
  }
  #main-content header h1 {
    margin: 0px;
  }
  #main-content #carousel-container {
    height: 63vh;
  }
  #main-content #carousel-container #carousel {
    text-align: center;
    max-width: 70%;
  }
  #main-content #carousel-container .dots {
    top: 59.5vh;
  }
  #main-content #carousel-container::before {
    height: 63vh;
  }
  #main-content #items-container {
    height: 21vh;
  }
  #main-content #items-container #items {
    box-shadow: none;
    background-color: inherit;
  }
  #main-content #items-container #items .item div h3 {
    font-size: 14px;
  }
  #main-content #items-container #items .item div span {
    font-size: 10.5px;
  }
  #main-content #description-container {
    flex-direction: column;
    height: 98vh;
  }
  #main-content #description-container img {
    object-fit: cover;
    object-position: 50% 70%;
    width: 100%;
    height: 50%;
  }
  #main-content #description-container #description {
    width: 100%;
    height: 50%;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
